In [173]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import bs4
import numpy as np

url='https://fr.wikipedia.org/wiki/%C3%89volution_d%C3%A9taill%C3%A9e_des_accidents_routiers_en_France_m%C3%A9tropolitaine'
r = requests.get(url)
print(r.status_code)

200

In [174]:
df=pd.read_html(r.content)
df1 = df[0]
df1.head(100)

   Année[2] Accidents                                       Tués à 3 jours  \
   Année[2]    Nombre Évolution(en %) dontaccidents mortels         Nombre
0      1948       NaN             NaN                   NaN            NaN
1      1949    25 247             NaN                   NaN          2 878
2      1950    50 000             NaN                   NaN          4 000
3      1951    70 000             NaN                   NaN          4 500
4      1952    95 000             NaN                   NaN          5 800
5      1953   118 881             ---                   ---          7 166
6      1954   124 970           + 5,1                   ---          7 539
7      1955   140 232          + 12,2                 7 554          8 058
8      1956   141 737           + 1,1                 7 740          8 283
9      1957   143 796           + 1,4                 8 055          8 517
10     1958   134 713           - 6,3                 7 520          8 126
11     1959   137 273           + 1,9                 7 847          8 409
12     1960   141 309           + 2,9                 7 698          8 295
13     1961   159 535          + 12,9                 8 423          9 140
14     1962   169 204           + 6,1                 9 076          9 928
15     1963   176 275           + 4,2                 9 167         10 027
16     1964   192 999           + 9,5                10 055         11 105
17     1965   210 754           + 9,2                11 021         12 150
18     1966   209 906           - 0,5                10 926         12 158
19     1967   215 470           + 2,6                11 408         12 696

                   Blessés graves Blessés légers Total blessés  \
   Évolution(en %) Blessés graves Blessés légers        Nombre
0              NaN            NaN            NaN           NaN
1              NaN            NaN            NaN        22 000
2              NaN            NaN            NaN        50 000
3              NaN            NaN            NaN        75 000
4              NaN            NaN            NaN       100 000
5              ---            ---            ---       147 551
6            + 5,2         46 470        107 924       154 394
7            + 6,9         56 798        119 531       176 329
8            + 2,8         54 255        126 359       180 614
9            + 2,8         67 650        116 100       183 750
10           - 4,6         64 782        111 248       176 030
11           + 2,8         65 154        113 639       178 793
12           - 1,3         65 780        119 251       185 031
13          + 10,1         69 252        144 252       213 504
14           + 8,6         74 963        154 359       229 322
15           + 1,0         78 399        162 555       240 954
16          + 10,8         83 210        180 865       264 075
17           + 9,4         90 136        200 120       290 256
18           + 0,1         89 424        190 685       280 109
19           + 4,4         88 765        213 480       302 245

                                            Gravité Kilomètresparcourus
   Évolution(en %) Tués pour100 accidents corporels Kilomètresparcourus
0              NaN                              NaN        20 milliards
1              NaN                              NaN        23 milliards
2              NaN                              NaN                 NaN
3              NaN                              NaN                 NaN
4              NaN                              NaN                 NaN
5              ---                            602.0                 NaN
6            + 4,6                            603.0                 NaN
7           + 14,2                            574.0                 NaN
8            + 2,4                            584.0                 NaN
9            + 1,7                            592.0                 NaN
10           - 4,2                            603.0                 NaN
11           + 1,6                            613.0                 NaN
12           + 3,5                            587.0        87 milliards
13          + 15,4                            572.0                 NaN
14           + 7,4                            587.0                 NaN
15           + 5,1                            569.0                 NaN
16           + 9,6                            575.0                 NaN
17           + 9,9                            577.0                 NaN
18           - 3,5                            579.0                 NaN
19           + 7,9                            589.0                 NaN

In [175]:
df1.info()
#df.set_index('Année[2]', inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   (Année[2], Année[2])                         20 non-null     int64
 1   (Accidents, Nombre)                          19 non-null     object
 2   (Accidents, Évolution(en %))                 15 non-null     object
 3   (Accidents, dontaccidents mortels)           15 non-null     object
 4   (Tués à 3 jours, Nombre)                     19 non-null     object
 5   (Tués à 3 jours, Évolution(en %))            15 non-null     object
 6   (Blessés graves, Blessés graves)             15 non-null     object
 7   (Blessés légers, Blessés légers)             15 non-null     object
 8   (Total blessés, Nombre)                      19 non-null     object
 9   (Total blessés, Évolution(en %))             15 non-null     object
 10  (Gravité, Tués pour100 accidents corporels)  15 non-null     float64
 11  (Kilomètresparcourus, Kilomètresparcourus)   3 non-null      object
dtypes: float64(1), int64(1), object(10)
memory usage: 2.0+ KB

In [176]:
df1 = df1.drop(df1.columns[[11]], axis=1)
df1.head(100)

   Année[2] Accidents                                       Tués à 3 jours  \
   Année[2]    Nombre Évolution(en %) dontaccidents mortels         Nombre
0      1948       NaN             NaN                   NaN            NaN
1      1949    25 247             NaN                   NaN          2 878
2      1950    50 000             NaN                   NaN          4 000
3      1951    70 000             NaN                   NaN          4 500
4      1952    95 000             NaN                   NaN          5 800
5      1953   118 881             ---                   ---          7 166
6      1954   124 970           + 5,1                   ---          7 539
7      1955   140 232          + 12,2                 7 554          8 058
8      1956   141 737           + 1,1                 7 740          8 283
9      1957   143 796           + 1,4                 8 055          8 517
10     1958   134 713           - 6,3                 7 520          8 126
11     1959   137 273           + 1,9                 7 847          8 409
12     1960   141 309           + 2,9                 7 698          8 295
13     1961   159 535          + 12,9                 8 423          9 140
14     1962   169 204           + 6,1                 9 076          9 928
15     1963   176 275           + 4,2                 9 167         10 027
16     1964   192 999           + 9,5                10 055         11 105
17     1965   210 754           + 9,2                11 021         12 150
18     1966   209 906           - 0,5                10 926         12 158
19     1967   215 470           + 2,6                11 408         12 696

                   Blessés graves Blessés légers Total blessés  \
   Évolution(en %) Blessés graves Blessés légers        Nombre
0              NaN            NaN            NaN           NaN
1              NaN            NaN            NaN        22 000
2              NaN            NaN            NaN        50 000
3              NaN            NaN            NaN        75 000
4              NaN            NaN            NaN       100 000
5              ---            ---            ---       147 551
6            + 5,2         46 470        107 924       154 394
7            + 6,9         56 798        119 531       176 329
8            + 2,8         54 255        126 359       180 614
9            + 2,8         67 650        116 100       183 750
10           - 4,6         64 782        111 248       176 030
11           + 2,8         65 154        113 639       178 793
12           - 1,3         65 780        119 251       185 031
13          + 10,1         69 252        144 252       213 504
14           + 8,6         74 963        154 359       229 322
15           + 1,0         78 399        162 555       240 954
16          + 10,8         83 210        180 865       264 075
17           + 9,4         90 136        200 120       290 256
18           + 0,1         89 424        190 685       280 109
19           + 4,4         88 765        213 480       302 245

                                            Gravité
   Évolution(en %) Tués pour100 accidents corporels
0              NaN                              NaN
1              NaN                              NaN
2              NaN                              NaN
3              NaN                              NaN
4              NaN                              NaN
5              ---                            602.0
6            + 4,6                            603.0
7           + 14,2                            574.0
8            + 2,4                            584.0
9            + 1,7                            592.0
10           - 4,2                            603.0
11           + 1,6                            613.0
12           + 3,5                            587.0
13          + 15,4                            572.0
14           + 7,4                            587.0
15           + 5,1                            569.0
16           + 9,6                            575.0
17           + 9,9                            577.0
18           - 3,5                            579.0
19           + 7,9                            589.0

In [177]:
#df = df.drop_duplicates(subset=['Année[2]'])
#df
#df["Année[2]"] = df["Année[2]"].astype(object)
print (df1.shape[1])

11

In [178]:
print (range(df1.shape[1]))

range(0, 11)

In [179]:
df1.columns = range(df1.shape[1])
print(df1)

       0        1       2       3       4       5       6        7        8  \
0   1948      NaN     NaN     NaN     NaN     NaN     NaN      NaN      NaN
1   1949   25 247     NaN     NaN   2 878     NaN     NaN      NaN   22 000
2   1950   50 000     NaN     NaN   4 000     NaN     NaN      NaN   50 000
3   1951   70 000     NaN     NaN   4 500     NaN     NaN      NaN   75 000
4   1952   95 000     NaN     NaN   5 800     NaN     NaN      NaN  100 000
5   1953  118 881     ---     ---   7 166     ---     ---      ---  147 551
6   1954  124 970   + 5,1     ---   7 539   + 5,2  46 470  107 924  154 394
7   1955  140 232  + 12,2   7 554   8 058   + 6,9  56 798  119 531  176 329
8   1956  141 737   + 1,1   7 740   8 283   + 2,8  54 255  126 359  180 614
9   1957  143 796   + 1,4   8 055   8 517   + 2,8  67 650  116 100  183 750
10  1958  134 713   - 6,3   7 520   8 126   - 4,6  64 782  111 248  176 030
11  1959  137 273   + 1,9   7 847   8 409   + 2,8  65 154  113 639  178 793
12  1960  141 309   + 2,9   7 698   8 295   - 1,3  65 780  119 251  185 031
13  1961  159 535  + 12,9   8 423   9 140  + 10,1  69 252  144 252  213 504
14  1962  169 204   + 6,1   9 076   9 928   + 8,6  74 963  154 359  229 322
15  1963  176 275   + 4,2   9 167  10 027   + 1,0  78 399  162 555  240 954
16  1964  192 999   + 9,5  10 055  11 105  + 10,8  83 210  180 865  264 075
17  1965  210 754   + 9,2  11 021  12 150   + 9,4  90 136  200 120  290 256
18  1966  209 906   - 0,5  10 926  12 158   + 0,1  89 424  190 685  280 109
19  1967  215 470   + 2,6  11 408  12 696   + 4,4  88 765  213 480  302 245

         9     10
0      NaN    NaN
1      NaN    NaN
2      NaN    NaN
3      NaN    NaN
4      NaN    NaN
5      ---  602.0
6    + 4,6  603.0
7   + 14,2  574.0
8    + 2,4  584.0
9    + 1,7  592.0
10   - 4,2  603.0
11   + 1,6  613.0
12   + 3,5  587.0
13  + 15,4  572.0
14   + 7,4  587.0
15   + 5,1  569.0
16   + 9,6  575.0
17   + 9,9  577.0
18   - 3,5  579.0
19   + 7,9  589.0

In [180]:
df1.head(100)

,0,1,2,3,4,5,6,7,8,9,10
0,1948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1949,25 247,NaN,NaN,2 878,NaN,NaN,NaN,22 000,NaN,NaN
2,1950,50 000,NaN,NaN,4 000,NaN,NaN,NaN,50 000,NaN,NaN
3,1951,70 000,NaN,NaN,4 500,NaN,NaN,NaN,75 000,NaN,NaN
4,1952,95 000,NaN,NaN,5 800,NaN,NaN,NaN,100 000,NaN,NaN
5,1953,118 881,---,---,7 166,---,---,---,147 551,---,602.0
6,1954,124 970,"+ 5,1",---,7 539,"+ 5,2",46 470,107 924,154 394,"+ 4,6",603.0
7,1955,140 232,"+ 12,2",7 554,8 058,"+ 6,9",56 798,119 531,176 329,"+ 14,2",574.0
8,1956,141 737,"+ 1,1",7 740,8 283,"+ 2,8",54 255,126 359,180 614,"+ 2,4",584.0
9,1957,143 796,"+ 1,4",8 055,8 517,"+ 2,8",67 650,116 100,183 750,"+ 1,7",592.0
10,1958,134 713,"- 6,3",7 520,8 126,"- 4,6",64 782,111 248,176 030,"- 4,2",603.0
11,1959,137 273,"+ 1,9",7 847,8 409,"+ 2,8",65 154,113 639,178 793,"+ 1,6",613.0
12,1960,141 309,"+ 2,9",7 698,8 295,"- 1,3",65 780,119 251,185 031,"+ 3,5",587.0
13,1961,159 535,"+ 12,9",8 423,9 140,"+ 10,1",69 252,144 252,213 504,"+ 15,4",572.0
14,1962,169 204,"+ 6,1",9 076,9 928,"+ 8,6",74 963,154 359,229 322,"+ 7,4",587.0
15,1963,176 275,"+ 4,2",9 167,10 027,"+ 1,0",78 399,162 555,240 954,"+ 5,1",569.0
16,1964,192 999,"+ 9,5",10 055,11 105,"+ 10,8",83 210,180 865,264 075,"+ 9,6",575.0
17,1965,210 754,"+ 9,2",11 021,12 150,"+ 9,4",90 136,200 120,290 256,"+ 9,9",577.0
18,1966,209 906,"- 0,5",10 926,12 158,"+ 0,1",89 424,190 685,280 109,"- 3,5",579.0
19,1967,215 470,"+ 2,6",11 408,12 696,"+ 4,4",88 765,213 480,302 245,"+ 7,9",589.0

In [181]:
df1 = df1.drop([df1.index[0], df1.index[1],df1.index[2],df1.index[3],df1.index[4],df1.index[5],df1.index[6]])
df1.head(100)

,0,1,2,3,4,5,6,7,8,9,10
7,1955,140 232,"+ 12,2",7 554,8 058,"+ 6,9",56 798,119 531,176 329,"+ 14,2",574.0
8,1956,141 737,"+ 1,1",7 740,8 283,"+ 2,8",54 255,126 359,180 614,"+ 2,4",584.0
9,1957,143 796,"+ 1,4",8 055,8 517,"+ 2,8",67 650,116 100,183 750,"+ 1,7",592.0
10,1958,134 713,"- 6,3",7 520,8 126,"- 4,6",64 782,111 248,176 030,"- 4,2",603.0
11,1959,137 273,"+ 1,9",7 847,8 409,"+ 2,8",65 154,113 639,178 793,"+ 1,6",613.0
12,1960,141 309,"+ 2,9",7 698,8 295,"- 1,3",65 780,119 251,185 031,"+ 3,5",587.0
13,1961,159 535,"+ 12,9",8 423,9 140,"+ 10,1",69 252,144 252,213 504,"+ 15,4",572.0
14,1962,169 204,"+ 6,1",9 076,9 928,"+ 8,6",74 963,154 359,229 322,"+ 7,4",587.0
15,1963,176 275,"+ 4,2",9 167,10 027,"+ 1,0",78 399,162 555,240 954,"+ 5,1",569.0
16,1964,192 999,"+ 9,5",10 055,11 105,"+ 10,8",83 210,180 865,264 075,"+ 9,6",575.0
17,1965,210 754,"+ 9,2",11 021,12 150,"+ 9,4",90 136,200 120,290 256,"+ 9,9",577.0
18,1966,209 906,"- 0,5",10 926,12 158,"+ 0,1",89 424,190 685,280 109,"- 3,5",579.0
19,1967,215 470,"+ 2,6",11 408,12 696,"+ 4,4",88 765,213 480,302 245,"+ 7,9",589.0

In [182]:
df1.columns = ['Année','Nombre des accidents','évolution en %','dont accidents mortels','Nombre','Évolution en %','Blessés graves','Blessés légers','Nombre des blessés','Évolution des blessés en %','Tués pour 100 accidents corporels']
#col_index="Année"
df1=df1.set_index('Année')
df1.head(100)

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels
Année,,,,,,,,,,
1955,140 232,"+ 12,2",7 554,8 058,"+ 6,9",56 798,119 531,176 329,"+ 14,2",574.0
1956,141 737,"+ 1,1",7 740,8 283,"+ 2,8",54 255,126 359,180 614,"+ 2,4",584.0
1957,143 796,"+ 1,4",8 055,8 517,"+ 2,8",67 650,116 100,183 750,"+ 1,7",592.0
1958,134 713,"- 6,3",7 520,8 126,"- 4,6",64 782,111 248,176 030,"- 4,2",603.0
1959,137 273,"+ 1,9",7 847,8 409,"+ 2,8",65 154,113 639,178 793,"+ 1,6",613.0
1960,141 309,"+ 2,9",7 698,8 295,"- 1,3",65 780,119 251,185 031,"+ 3,5",587.0
1961,159 535,"+ 12,9",8 423,9 140,"+ 10,1",69 252,144 252,213 504,"+ 15,4",572.0
1962,169 204,"+ 6,1",9 076,9 928,"+ 8,6",74 963,154 359,229 322,"+ 7,4",587.0
1963,176 275,"+ 4,2",9 167,10 027,"+ 1,0",78 399,162 555,240 954,"+ 5,1",569.0
1964,192 999,"+ 9,5",10 055,11 105,"+ 10,8",83 210,180 865,264 075,"+ 9,6",575.0
1965,210 754,"+ 9,2",11 021,12 150,"+ 9,4",90 136,200 120,290 256,"+ 9,9",577.0
1966,209 906,"- 0,5",10 926,12 158,"+ 0,1",89 424,190 685,280 109,"- 3,5",579.0
1967,215 470,"+ 2,6",11 408,12 696,"+ 4,4",88 765,213 480,302 245,"+ 7,9",589.0

In [183]:
df1.isnull()

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels
Année,,,,,,,,,,
1955,False,False,False,False,False,False,False,False,False,False
1956,False,False,False,False,False,False,False,False,False,False
1957,False,False,False,False,False,False,False,False,False,False
1958,False,False,False,False,False,False,False,False,False,False
1959,False,False,False,False,False,False,False,False,False,False
1960,False,False,False,False,False,False,False,False,False,False
1961,False,False,False,False,False,False,False,False,False,False
1962,False,False,False,False,False,False,False,False,False,False
1963,False,False,False,False,False,False,False,False,False,False
1964,False,False,False,False,False,False,False,False,False,False
1965,False,False,False,False,False,False,False,False,False,False
1966,False,False,False,False,False,False,False,False,False,False
1967,False,False,False,False,False,False,False,False,False,False

In [184]:
df[1].head()

#df[0].set_index('Année[2]', inplace=True)

  Année[2] Accidents                                       Tués à 6 jours  \
  Année[2]    Nombre Évolution(en %) dontaccidents mortels         Nombre
0     1967   215 470             ---                12 225         13 585
1     1968   220 201           + 2,2                12 717         14 274
2     1969   220 618           + 0,2                13 028         14 664
3     1970   228 050           + 3,4                13 437         15 034
4     1971   242 464           + 6,3                14 265         16 061

                  Blessés graves Blessés légers Total blessés                  \
  Évolution(en %) Blessés graves Blessés légers        Nombre Évolution(en %)
0             ---         87 876        213 480       301 356             ---
1           + 5,1         92 020        220 293       312 313           + 3,6
2           + 2,7         93 882        217 391       311 273           - 0,3
3           + 2,5         96 399        224 967       321 366           + 3,2
4           + 6,8        102 954        242 509       345 463           + 7,5

                           Gravité Kilomètresparcourus[3] Tués à 30 jours
  Tués pour100 accidents corporels Kilomètresparcourus[3]          Nombre
0                              630                    NaN             NaN
1                              648                    NaN             NaN
2                              665          183 milliards             NaN
3                              659          197 milliards             NaN
4                              662          215 milliards             NaN

In [185]:
df2 = df[1]
df2

        Année[2]     Accidents  \
        Année[2]        Nombre
0           1967       215 470
1           1968       220 201
2           1969       220 618
3           1970       228 050
4           1971       242 464
5           1972       259 954
6           1973       261 212
7           1974       251 378
8           1975       251 192
9           1976       253 318
10          1977       250 158
11          1978       238 815
12          1979       242 975
13          1980       241 049
14  1981 et 1982  1981 et 1982
15          1983       209 715
16          1984       199 454
17          1985       191 096
18          1986       184 615
19          1987       170 994
20          1988       175 887
21          1989       170 590
22          1990       162 573
23          1991       148 890
24          1992       143 362
25          1993       137 500
26          1994       132 726
27          1995       132 949
28          1996       125 406
29          1997       125 202
30          1998       124 387
31          1999       124 524
32          2000       121 223
33          2001       116 745
34          2002       105 470
35          2003        90 220
36          2004        85 390

                                                       \
                                      Évolution(en %)
0                                                 ---
1                                               + 2,2
2                                               + 0,2
3                                               + 3,4
4                                               + 6,3
5                                               + 7,2
6                                               + 0,5
7                                               - 3,8
8                                               - 0,1
9                                               + 0,8
10                                              - 1,2
11                                              - 5,5
12                                              + 1,7
13                                              - 0,8
14  Aucune information n'ont été publiée pour les ...
15                                                ---
16                                              - 4,9
17                                              - 4,2
18                                              - 3,4
19                                              - 7,4
20                                              + 2,9
21                                              - 3,0
22                                              - 4,7
23                                              - 8,4
24                                              - 3,7
25                                              - 4,1
26                                              - 3,5
27                                              + 0,2
28                                              - 5,7
29                                              - 0,2
30                                              - 0,7
31                                              + 0,1
32                                              - 2,7
33                                              - 3,7
34                                              - 9,7
35                                             - 14,5
36                                              - 5,4

                                                       \
                                dontaccidents mortels
0                                              12 225
1                                              12 717
2                                              13 028
3                                              13 437
4                                              14 265
5                                              14 535
6                                              13 546
7                                              11 905
8                                              11 631
9                                              12 115
10                                             11 489
11                                             10 670
12                                             10 880
13                                             10 924
14  Aucune information n'ont été publiée pour les ...
15                                             10 272
16                                             10 173
17                                              9 217
18                                              9 682
19                                              8 686
20                                              9 341
21                                              9 302
22                                              9 128
23                                              8 509
24                                              8 114
25                                              8 005
26                                              7 609
27                                              7 453
28                                              7 178
29                                              7 130
30                                              7 514
31                                              7 185
32                                              6 811
33                                              6 920
34                                              6 549
35                                              5 168
36                                              4 766

                                       Tués à 6 jours  \
                                               Nombre
0                                              13 585
1                                              14 274
2                                              14 664
3                                              15 034
4                                              16 061
5                                              16 545
6                                              15 469
7                                              13 327
8                                              12 996
9                                              13 577
10                                             12 961
11                                             11 957
12                                             12 197
13                                             12 384
14  Aucune information n'ont été publiée pour les ...
15                                             11 677
16                                             11 525
17                                             10 447
18                                             10 960
19                                              9 855
20                                             10 548
21                                             10 528
22                                             10 289
23                                              9 617
24                                              9 083
25                                              9 052
26                                              8 533
27                                              8 412
28                                              8 080
29                                              7 989
30                                              8 437
31                                              8 029
32                                              7 643
33                                              7 720
34                                              7 242
35                                              5 731
36                                              5 232

                                                       \
                                      Évolution(en %)
0                                                 ---
1                                               + 5,1
2                                               + 2,7
3                                               + 2,5
4                                               + 6,8
5                                               + 3,0
6                                               - 6,5
7                                              - 13,8
8                                               - 2,5
9                                               + 4,5
10                                              - 4,5
11                                              - 7,7
12                                              + 2,0
13                                              + 1,5
14  Aucune information n'ont été publiée pour les ...
15                                                ---
16                                              - 1,3
17                                              - 9,4
18                                              + 4,9
19                                             - 10,1
20                                              + 7,0
21                                              - 0,2
22                                              - 2,3
23                                              - 6,5
24                                              - 5,6
25                                              - 0,3
26                                              - 5,7
27                                              - 1,4
28                                              - 3,9
29                                              - 1,1
30                                              + 5,6
31                                              - 4,8
32                                              - 4,8
33                                              + 1,0
34                                              - 6,2
35                                             - 20,9
36                                              - 8,7

                                       Blessés graves  \
                                       Blessés graves
0                                              87 876
1                                              92 020
2                                              93 882
3                                              96 399
4                                             102 954
5                                             107 445
6                                              99 798
7                                              92 023
8                                              92 725
9                                              91 539
10                                             92 246
11                                             86 927
12                                             90 006
13                                             87 752
14  Aucune information n'ont été publiée pour les ...
15                                             75 833
16                                             71 063
17                                             66 911
18                                             63 496
19                                             57 902
20                                             58 172
21                                             55 086
22                                             52 578
23                                             47 119
24                                             44 965
25                                             43 535
26                                             40 521
27                                             39 257
28                                             36 204
29                                             35 716
30                                             33 977
31                                             31 851
32                                             27 407
33                                             26 192
34                                             24 091
35                                             19 207
36                                             17 435

                                       Blessés légers  \
                                       Blessés légers
0                                             213 480
1                                             220 293
2                                             217 391
3                                             224 967
4                                             242 509
5                                             280 918
6                                             266 512
7                                             252 297
8                                             253 001
9                                             256 206
10                                            253 854
11                                            240 813
12                                            245 898
13                                            245 841
14  Aucune information n'ont été publiée pour les ...
15                                            218 530
16                                            211 422
17                                            203 834
18                                            195 507
19                                            179 734
20                                            185 870
21                                            180 913
22                                            173 282
23                                            158 849
24                                            153 139
25                                            145 485
26                                            140 311
27                                            142 146
28                                            133 913
29                                            133 862
30                                            134 558
31                                            135 721
32                                            134 710
33                                            127 753
34                                            113 748
35                                             96 722
36                                             91 292

                                        Total blessés  \
                                               Nombre
0                                             301 356
1                                             312 313
2                                             311 273
3                                             321 366
4                                             345 463
5                                             388 363
6                                             366 310
7                                             344 320
8                                             345 726
9                                             347 745
10                                            346 100
11                                            327 740
12                                            335 904
13                                            333 593
14  Aucune information n'ont été publiée pour les ...
15                                            294 363
16                                            282 485
17                                            270 745
18                                            259 003
19                                            237 636
20                                            244 042
21                                            235 999
22                                            225 860
23                                            205 968
24                                            198 104
25                                            189 020
26                                            180 832
27                                            181 403
28                                            170 117
29                                            169 578
30                                            168 535
31                                            167 572
32                                            162 117
33                                            153 945
34                                            137 839
35                                            115 929
36                                            108 727

                                                       \
                                      Évolution(en %)
0                                                 ---
1                                               + 3,6
2                                               - 0,3
3                                               + 3,2
4                                               + 7,5
5                                              + 12,4
6                                               - 6,7
7                                               - 6,0
8                                               + 0,4
9                                               + 0,6
10                                              - 0,4
11                                              - 5,3
12                                              + 2,4
13                                              - 0,7
14  Aucune information n'ont été publiée pour les ...
15                                                ---
16                                              - 4,0
17                                              - 5,1
18                                              - 4,4
19                                              - 8,2
20                                              + 2,7
21                                              - 3,3
22                                              - 4,3
23                                              - 8,8
24                                              - 3,8
25                                              - 4,6
26                                              - 4,3
27                                              + 0,3
28                                              - 6,2
29                                              - 0,3
30                                              - 0,6
31                                              - 0,6
32                                              - 3,3
33                                              - 5,0
34                                             - 10,5
35                                             - 15,9
36                                              - 6,2

                                              Gravité Kilomètresparcourus[3]  \
                     Tués pour100 accidents corporels Kilomètresparcourus[3]
0                                                 630                    NaN
1                                                 648                    NaN
2                                                 665          183 milliards
3                                                 659          197 milliards
4                                                 662          215 milliards
5                                                 636          235 milliards
6                                                 592          259 milliards
7                                                 530          254 milliards
8                                                 517          284 milliards
9                                                 536          290 milliards
10                                                518          295 milliards
11                                                501          305 milliards
12                                                502          308 milliards
13                                                514          312 milliards
14  Aucune information n'ont été publiée pour les ...                    NaN
15                                                557          346 milliards
16                                                578          346 milliards
17                                                547          354 milliards
18                                                594          366 milliards
19                                                576          393 milliards
20                                                600          408 milliards
21                                                617          419 milliards

In [186]:
df2 = df2.drop(df2.columns[[11]], axis=1)
df2.head()

  Année[2] Accidents                                       Tués à 6 jours  \
  Année[2]    Nombre Évolution(en %) dontaccidents mortels         Nombre
0     1967   215 470             ---                12 225         13 585
1     1968   220 201           + 2,2                12 717         14 274
2     1969   220 618           + 0,2                13 028         14 664
3     1970   228 050           + 3,4                13 437         15 034
4     1971   242 464           + 6,3                14 265         16 061

                  Blessés graves Blessés légers Total blessés                  \
  Évolution(en %) Blessés graves Blessés légers        Nombre Évolution(en %)
0             ---         87 876        213 480       301 356             ---
1           + 5,1         92 020        220 293       312 313           + 3,6
2           + 2,7         93 882        217 391       311 273           - 0,3
3           + 2,5         96 399        224 967       321 366           + 3,2
4           + 6,8        102 954        242 509       345 463           + 7,5

                           Gravité Tués à 30 jours
  Tués pour100 accidents corporels          Nombre
0                              630             NaN
1                              648             NaN
2                              665             NaN
3                              659             NaN
4                              662             NaN

In [187]:
print (df2.shape[1])

12

In [188]:
print (range(df2.shape[1]))

range(0, 12)

In [189]:
df2.columns = range(df2.shape[1])
print(df2)

               0             1  \
0           1967       215 470
1           1968       220 201
2           1969       220 618
3           1970       228 050
4           1971       242 464
5           1972       259 954
6           1973       261 212
7           1974       251 378
8           1975       251 192
9           1976       253 318
10          1977       250 158
11          1978       238 815
12          1979       242 975
13          1980       241 049
14  1981 et 1982  1981 et 1982
15          1983       209 715
16          1984       199 454
17          1985       191 096
18          1986       184 615
19          1987       170 994
20          1988       175 887
21          1989       170 590
22          1990       162 573
23          1991       148 890
24          1992       143 362
25          1993       137 500
26          1994       132 726
27          1995       132 949
28          1996       125 406
29          1997       125 202
30          1998       124 387
31          1999       124 524
32          2000       121 223
33          2001       116 745
34          2002       105 470
35          2003        90 220
36          2004        85 390

                                                    2  \
0                                                 ---
1                                               + 2,2
2                                               + 0,2
3                                               + 3,4
4                                               + 6,3
5                                               + 7,2
6                                               + 0,5
7                                               - 3,8
8                                               - 0,1
9                                               + 0,8
10                                              - 1,2
11                                              - 5,5
12                                              + 1,7
13                                              - 0,8
14  Aucune information n'ont été publiée pour les ...
15                                                ---
16                                              - 4,9
17                                              - 4,2
18                                              - 3,4
19                                              - 7,4
20                                              + 2,9
21                                              - 3,0
22                                              - 4,7
23                                              - 8,4
24                                              - 3,7
25                                              - 4,1
26                                              - 3,5
27                                              + 0,2
28                                              - 5,7
29                                              - 0,2
30                                              - 0,7
31                                              + 0,1
32                                              - 2,7
33                                              - 3,7
34                                              - 9,7
35                                             - 14,5
36                                              - 5,4

                                                    3  \
0                                              12 225
1                                              12 717
2                                              13 028
3                                              13 437
4                                              14 265
5                                              14 535
6                                              13 546
7                                              11 905
8                                              11 631
9                                              12 115
10                                             11 489
11                                             10 670
12                                             10 880
13                                             10 924
14  Aucune information n'ont été publiée pour les ...
15                                             10 272
16                                             10 173
17                                              9 217
18                                              9 682
19                                              8 686
20                                              9 341
21                                              9 302
22                                              9 128
23                                              8 509
24                                              8 114
25                                              8 005
26                                              7 609
27                                              7 453
28                                              7 178
29                                              7 130
30                                              7 514
31                                              7 185
32                                              6 811
33                                              6 920
34                                              6 549
35                                              5 168
36                                              4 766

                                                    4  \
0                                              13 585
1                                              14 274
2                                              14 664
3                                              15 034
4                                              16 061
5                                              16 545
6                                              15 469
7                                              13 327
8                                              12 996
9                                              13 577
10                                             12 961
11                                             11 957
12                                             12 197
13                                             12 384
14  Aucune information n'ont été publiée pour les ...
15                                             11 677
16                                             11 525
17                                             10 447
18                                             10 960
19                                              9 855
20                                             10 548
21                                             10 528
22                                             10 289
23                                              9 617
24                                              9 083
25                                              9 052
26                                              8 533
27                                              8 412
28                                              8 080
29                                              7 989
30                                              8 437
31                                              8 029
32                                              7 643
33                                              7 720
34                                              7 242
35                                              5 731
36                                              5 232

                                                    5  \
0                                                 ---
1                                               + 5,1
2                                               + 2,7
3                                               + 2,5
4                                               + 6,8
5                                               + 3,0
6                                               - 6,5
7                                              - 13,8
8                                               - 2,5
9                                               + 4,5
10                                              - 4,5
11                                              - 7,7
12                                              + 2,0
13                                              + 1,5
14  Aucune information n'ont été publiée pour les ...
15                                                ---
16                                              - 1,3
17                                              - 9,4
18                                              + 4,9
19                                             - 10,1
20                                              + 7,0
21                                              - 0,2
22                                              - 2,3
23                                              - 6,5
24                                              - 5,6
25                                              - 0,3
26                                              - 5,7
27                                              - 1,4
28                                              - 3,9
29                                              - 1,1
30                                              + 5,6
31                                              - 4,8
32                                              - 4,8
33                                              + 1,0
34                                              - 6,2
35                                             - 20,9
36                                              - 8,7

                                                    6  \
0                                              87 876
1                                              92 020
2                                              93 882
3                                              96 399
4                                             102 954
5                                             107 445
6                                              99 798
7                                              92 023
8                                              92 725
9                                              91 539
10                                             92 246
11                                             86 927
12                                             90 006
13                                             87 752
14  Aucune information n'ont été publiée pour les ...
15                                             75 833
16                                             71 063
17                                             66 911
18                                             63 496
19                                             57 902
20                                             58 172
21                                             55 086
22                                             52 578
23                                             47 119
24                                             44 965
25                                             43 535
26                                             40 521
27                                             39 257
28                                             36 204
29                                             35 716
30                                             33 977
31                                             31 851
32                                             27 407
33                                             26 192
34                                             24 091
35                                             19 207
36                                             17 435

                                                    7  \
0                                             213 480
1                                             220 293
2                                             217 391
3                                             224 967
4                                             242 509
5                                             280 918
6                                             266 512
7                                             252 297
8                                             253 001
9                                             256 206
10                                            253 854
11                                            240 813
12                                            245 898
13                                            245 841
14  Aucune information n'ont été publiée pour les ...
15                                            218 530
16                                            211 422
17                                            203 834
18                                            195 507
19                                            179 734
20                                            185 870
21                                            180 913
22                                            173 282
23                                            158 849
24                                            153 139
25                                            145 485
26                                            140 311
27                                            142 146
28                                            133 913
29                                            133 862
30                                            134 558
31                                            135 721
32                                            134 710
33                                            127 753
34                                            113 748
35                                             96 722
36                                             91 292

                                                    8  \
0                                             301 356
1                                             312 313
2                                             311 273
3                                             321 366
4                                             345 463
5                                             388 363
6                                             366 310
7                                             344 320
8                                             345 726
9                                             347 745
10                                            346 100
11                                            327 740
12                                            335 904
13                                            333 593
14  Aucune information n'ont été publiée pour les ...
15                                            294 363
16                                            282 485
17                                            270 745
18                                            259 003
19                                            237 636
20                                            244 042
21                                            235 999
22                                            225 860
23                                            205 968
24                                            198 104
25                                            189 020
26                                            180 832
27                                            181 403
28                                            170 117
29                                            169 578
30                                            168 535
31                                            167 572
32                                            162 117
33                                            153 945
34                                            137 839
35                                            115 929
36                                            108 727

                                                    9  \
0                                                 ---
1                                               + 3,6
2                                               - 0,3
3                                               + 3,2
4                                               + 7,5
5                                              + 12,4
6                                               - 6,7
7                                               - 6,0
8                                               + 0,4
9                                               + 0,6
10                                              - 0,4
11                                              - 5,3
12                                              + 2,4
13                                              - 0,7
14  Aucune information n'ont été publiée pour les ...
15                                                ---
16                                              - 4,0
17                                              - 5,1
18                                              - 4,4
19                                              - 8,2
20                                              + 2,7
21                                              - 3,3
22                                              - 4,3
23                                              - 8,8
24                                              - 3,8
25                                              - 4,6
26                                              - 4,3
27                                              + 0,3
28                                              - 6,2
29                                              - 0,3
30                                              - 0,6
31                                              - 0,6
32                                              - 3,3
33                                              - 5,0
34                                             - 10,5
35                                             - 15,9
36                                              - 6,2

                                                   10      11
0                                                 630     NaN
1                                                 648     NaN
2                                                 665     NaN
3                                                 659     NaN
4                                                 662     NaN
5                                                 636  18 034
6                                                 592     NaN
7                                                 530     NaN
8                                                 517     NaN
9                                                 536     NaN
10                                                518     NaN
11                                                501     NaN
12                                                502     NaN
13                                                514     NaN
14  Aucune information n'ont été publiée pour les ...     NaN
15                                                557     NaN
16                                                578     NaN
17                                                547     NaN
18                                                594     NaN
19                                                576     NaN
20                                                600     NaN
21                                                617     NaN
22                                                633     NaN
23                                                646     NaN
24                                                634     NaN
25                                                658     NaN
26                                                643     NaN
27                                                633     NaN
28                                                644     NaN
29                                                638     NaN
30                                                678     NaN
31                                                645     NaN
32                                                630     NaN
33                                                661     NaN
34                                                687     NaN
35                                                635     NaN
36                                                613   5 593

In [190]:
df2 = df2.drop([df2.index[14], df2.index[0]])
df2.head(100)

,0,1,2,3,4,5,6,7,8,9,10,11
1,1968,220 201,"+ 2,2",12 717,14 274,"+ 5,1",92 020,220 293,312 313,"+ 3,6",648,NaN
2,1969,220 618,"+ 0,2",13 028,14 664,"+ 2,7",93 882,217 391,311 273,"- 0,3",665,NaN
3,1970,228 050,"+ 3,4",13 437,15 034,"+ 2,5",96 399,224 967,321 366,"+ 3,2",659,NaN
4,1971,242 464,"+ 6,3",14 265,16 061,"+ 6,8",102 954,242 509,345 463,"+ 7,5",662,NaN
5,1972,259 954,"+ 7,2",14 535,16 545,"+ 3,0",107 445,280 918,388 363,"+ 12,4",636,18 034
6,1973,261 212,"+ 0,5",13 546,15 469,"- 6,5",99 798,266 512,366 310,"- 6,7",592,NaN
7,1974,251 378,"- 3,8",11 905,13 327,"- 13,8",92 023,252 297,344 320,"- 6,0",530,NaN
8,1975,251 192,"- 0,1",11 631,12 996,"- 2,5",92 725,253 001,345 726,"+ 0,4",517,NaN
9,1976,253 318,"+ 0,8",12 115,13 577,"+ 4,5",91 539,256 206,347 745,"+ 0,6",536,NaN
10,1977,250 158,"- 1,2",11 489,12 961,"- 4,5",92 246,253 854,346 100,"- 0,4",518,NaN
11,1978,238 815,"- 5,5",10 670,11 957,"- 7,7",86 927,240 813,327 740,"- 5,3",501,NaN
12,1979,242 975,"+ 1,7",10 880,12 197,"+ 2,0",90 006,245 898,335 904,"+ 2,4",502,NaN
13,1980,241 049,"- 0,8",10 924,12 384,"+ 1,5",87 752,245 841,333 593,"- 0,7",514,NaN
15,1983,209 715,---,10 272,11 677,---,75 833,218 530,294 363,---,557,NaN
16,1984,199 454,"- 4,9",10 173,11 525,"- 1,3",71 063,211 422,282 485,"- 4,0",578,NaN
17,1985,191 096,"- 4,2",9 217,10 447,"- 9,4",66 911,203 834,270 745,"- 5,1",547,NaN
18,1986,184 615,"- 3,4",9 682,10 960,"+ 4,9",63 496,195 507,259 003,"- 4,4",594,NaN
19,1987,170 994,"- 7,4",8 686,9 855,"- 10,1",57 902,179 734,237 636,"- 8,2",576,NaN
20,1988,175 887,"+ 2,9",9 341,10 548,"+ 7,0",58 172,185 870,244 042,"+ 2,7",600,NaN
21,1989,170 590,"- 3,0",9 302,10 528,"- 0,2",55 086,180 913,235 999,"- 3,3",617,NaN
22,1990,162 573,"- 4,7",9 128,10 289,"- 2,3",52 578,173 282,225 860,"- 4,3",633,NaN
23,1991,148 890,"- 8,4",8 509,9 617,"- 6,5",47 119,158 849,205 968,"- 8,8",646,NaN
24,1992,143 362,"- 3,7",8 114,9 083,"- 5,6",44 965,153 139,198 104,"- 3,8",634,NaN
25,1993,137 500,"- 4,1",8 005,9 052,"- 0,3",43 535,145 485,189 020,"- 4,6",658,NaN
26,1994,132 726,"- 3,5",7 609,8 533,"- 5,7",40 521,140 311,180 832,"- 4,3",643,NaN
27,1995,132 949,"+ 0,2",7 453,8 412,"- 1,4",39 257,142 146,181 403,"+ 0,3",633,NaN
28,1996,125 406,"- 5,7",7 178,8 080,"- 3,9",36 204,133 913,170 117,"- 6,2",644,NaN
29,1997,125 202,"- 0,2",7 130,7 989,"- 1,1",35 716,133 862,169 578,"- 0,3",638,NaN
30,1998,124 387,"- 0,7",7 514,8 437,"+ 5,6",33 977,134 558,168 535,"- 0,6",678,NaN
31,1999,124 524,"+ 0,1",7 185,8 029,"- 4,8",31 851,135 721,167 572,"- 0,6",645,NaN
32,2000,121 223,"- 2,7",6 811,7 643,"- 4,8",27 407,134 710,162 117,"- 3,3",630,NaN
33,2001,116 745,"- 3,7",6 920,7 720,"+ 1,0",26 192,127 753,153 945,"- 5,0",661,NaN
34,2002,105 470,"- 9,7",6 549,7 242,"- 6,2",24 091,113 748,137 839,"- 10,5",687,NaN
35,2003,90 220,"- 14,5",5 168,5 731,"- 20,9",19 207,96 722,115 929,"- 15,9",635,NaN
36,2004,85 390,"- 5,4",4 766,5 232,"- 8,7",17 435,91 292,108 727,"- 6,2",613,5 593

In [191]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11
1,1968,220 201,"+ 2,2",12 717,14 274,"+ 5,1",92 020,220 293,312 313,"+ 3,6",648,NaN
2,1969,220 618,"+ 0,2",13 028,14 664,"+ 2,7",93 882,217 391,311 273,"- 0,3",665,NaN
3,1970,228 050,"+ 3,4",13 437,15 034,"+ 2,5",96 399,224 967,321 366,"+ 3,2",659,NaN
4,1971,242 464,"+ 6,3",14 265,16 061,"+ 6,8",102 954,242 509,345 463,"+ 7,5",662,NaN
5,1972,259 954,"+ 7,2",14 535,16 545,"+ 3,0",107 445,280 918,388 363,"+ 12,4",636,18 034

In [192]:
df2.columns = ['Année','Nombre des accidents','évolution en %','dont accidents mortels','Nombre','Évolution en %','Blessés graves','Blessés légers','Nombre des blessés','Évolution des blessés en %','Tués pour 100 accidents corporels','Nombre tués à 30 jours']
#col_index="Année"
df2=df2.set_index('Année')
df2.head(100)

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels,Nombre tués à 30 jours
Année,,,,,,,,,,,
1968,220 201,"+ 2,2",12 717,14 274,"+ 5,1",92 020,220 293,312 313,"+ 3,6",648,NaN
1969,220 618,"+ 0,2",13 028,14 664,"+ 2,7",93 882,217 391,311 273,"- 0,3",665,NaN
1970,228 050,"+ 3,4",13 437,15 034,"+ 2,5",96 399,224 967,321 366,"+ 3,2",659,NaN
1971,242 464,"+ 6,3",14 265,16 061,"+ 6,8",102 954,242 509,345 463,"+ 7,5",662,NaN
1972,259 954,"+ 7,2",14 535,16 545,"+ 3,0",107 445,280 918,388 363,"+ 12,4",636,18 034
1973,261 212,"+ 0,5",13 546,15 469,"- 6,5",99 798,266 512,366 310,"- 6,7",592,NaN
1974,251 378,"- 3,8",11 905,13 327,"- 13,8",92 023,252 297,344 320,"- 6,0",530,NaN
1975,251 192,"- 0,1",11 631,12 996,"- 2,5",92 725,253 001,345 726,"+ 0,4",517,NaN
1976,253 318,"+ 0,8",12 115,13 577,"+ 4,5",91 539,256 206,347 745,"+ 0,6",536,NaN
1977,250 158,"- 1,2",11 489,12 961,"- 4,5",92 246,253 854,346 100,"- 0,4",518,NaN
1978,238 815,"- 5,5",10 670,11 957,"- 7,7",86 927,240 813,327 740,"- 5,3",501,NaN
1979,242 975,"+ 1,7",10 880,12 197,"+ 2,0",90 006,245 898,335 904,"+ 2,4",502,NaN
1980,241 049,"- 0,8",10 924,12 384,"+ 1,5",87 752,245 841,333 593,"- 0,7",514,NaN
1983,209 715,---,10 272,11 677,---,75 833,218 530,294 363,---,557,NaN
1984,199 454,"- 4,9",10 173,11 525,"- 1,3",71 063,211 422,282 485,"- 4,0",578,NaN
1985,191 096,"- 4,2",9 217,10 447,"- 9,4",66 911,203 834,270 745,"- 5,1",547,NaN
1986,184 615,"- 3,4",9 682,10 960,"+ 4,9",63 496,195 507,259 003,"- 4,4",594,NaN
1987,170 994,"- 7,4",8 686,9 855,"- 10,1",57 902,179 734,237 636,"- 8,2",576,NaN
1988,175 887,"+ 2,9",9 341,10 548,"+ 7,0",58 172,185 870,244 042,"+ 2,7",600,NaN
1989,170 590,"- 3,0",9 302,10 528,"- 0,2",55 086,180 913,235 999,"- 3,3",617,NaN
1990,162 573,"- 4,7",9 128,10 289,"- 2,3",52 578,173 282,225 860,"- 4,3",633,NaN
1991,148 890,"- 8,4",8 509,9 617,"- 6,5",47 119,158 849,205 968,"- 8,8",646,NaN
1992,143 362,"- 3,7",8 114,9 083,"- 5,6",44 965,153 139,198 104,"- 3,8",634,NaN
1993,137 500,"- 4,1",8 005,9 052,"- 0,3",43 535,145 485,189 020,"- 4,6",658,NaN
1994,132 726,"- 3,5",7 609,8 533,"- 5,7",40 521,140 311,180 832,"- 4,3",643,NaN
1995,132 949,"+ 0,2",7 453,8 412,"- 1,4",39 257,142 146,181 403,"+ 0,3",633,NaN
1996,125 406,"- 5,7",7 178,8 080,"- 3,9",36 204,133 913,170 117,"- 6,2",644,NaN
1997,125 202,"- 0,2",7 130,7 989,"- 1,1",35 716,133 862,169 578,"- 0,3",638,NaN
1998,124 387,"- 0,7",7 514,8 437,"+ 5,6",33 977,134 558,168 535,"- 0,6",678,NaN
1999,124 524,"+ 0,1",7 185,8 029,"- 4,8",31 851,135 721,167 572,"- 0,6",645,NaN
2000,121 223,"- 2,7",6 811,7 643,"- 4,8",27 407,134 710,162 117,"- 3,3",630,NaN
2001,116 745,"- 3,7",6 920,7 720,"+ 1,0",26 192,127 753,153 945,"- 5,0",661,NaN
2002,105 470,"- 9,7",6 549,7 242,"- 6,2",24 091,113 748,137 839,"- 10,5",687,NaN
2003,90 220,"- 14,5",5 168,5 731,"- 20,9",19 207,96 722,115 929,"- 15,9",635,NaN
2004,85 390,"- 5,4",4 766,5 232,"- 8,7",17 435,91 292,108 727,"- 6,2",613,5 593

In [193]:
df2.drop('Nombre tués à 30 jours', axis=1, inplace=True)
df2.head()

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels
Année,,,,,,,,,,
1968,220 201,"+ 2,2",12 717,14 274,"+ 5,1",92 020,220 293,312 313,"+ 3,6",648
1969,220 618,"+ 0,2",13 028,14 664,"+ 2,7",93 882,217 391,311 273,"- 0,3",665
1970,228 050,"+ 3,4",13 437,15 034,"+ 2,5",96 399,224 967,321 366,"+ 3,2",659
1971,242 464,"+ 6,3",14 265,16 061,"+ 6,8",102 954,242 509,345 463,"+ 7,5",662
1972,259 954,"+ 7,2",14 535,16 545,"+ 3,0",107 445,280 918,388 363,"+ 12,4",636

In [194]:
df2.isnull()

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels
Année,,,,,,,,,,
1968,False,False,False,False,False,False,False,False,False,False
1969,False,False,False,False,False,False,False,False,False,False
1970,False,False,False,False,False,False,False,False,False,False
1971,False,False,False,False,False,False,False,False,False,False
1972,False,False,False,False,False,False,False,False,False,False
1973,False,False,False,False,False,False,False,False,False,False
1974,False,False,False,False,False,False,False,False,False,False
1975,False,False,False,False,False,False,False,False,False,False
1976,False,False,False,False,False,False,False,False,False,False
1977,False,False,False,False,False,False,False,False,False,False
1978,False,False,False,False,False,False,False,False,False,False
1979,False,False,False,False,False,False,False,False,False,False
1980,False,False,False,False,False,False,False,False,False,False
1983,False,False,False,False,False,False,False,False,False,False
1984,False,False,False,False,False,False,False,False,False,False
1985,False,False,False,False,False,False,False,False,False,False
1986,False,False,False,False,False,False,False,False,False,False
1987,False,False,False,False,False,False,False,False,False,False
1988,False,False,False,False,False,False,False,False,False,False
1989,False,False,False,False,False,False,False,False,False,False
1990,False,False,False,False,False,False,False,False,False,False
1991,False,False,False,False,False,False,False,False,False,False
1992,False,False,False,False,False,False,False,False,False,False
1993,False,False,False,False,False,False,False,False,False,False
1994,False,False,False,False,False,False,False,False,False,False
1995,False,False,False,False,False,False,False,False,False,False
1996,False,False,False,False,False,False,False,False,False,False
1997,False,False,False,False,False,False,False,False,False,False
1998,False,False,False,False,False,False,False,False,False,False
1999,False,False,False,False,False,False,False,False,False,False
2000,False,False,False,False,False,False,False,False,False,False
2001,False,False,False,False,False,False,False,False,False,False
2002,False,False,False,False,False,False,False,False,False,False
2003,False,False,False,False,False,False,False,False,False,False
2004,False,False,False,False,False,False,False,False,False,False

In [195]:
df3 = df[2]
df3.head(100)

   Année[2] Accidents                                       Tués à 30 jours  \
   Année[2]    Nombre Évolution(en %) dontaccidents mortels          Nombre
0      2005    84 525           - 1,0                 4 857           5 318
1      2006    80 309           - 5,0                 4 326           4 709
2      2007    81 272           + 1,2                 4 265           4 620
3      2008    74 487           - 8,3                 3 933           4 275
4      2009    72 315           - 2,9                 3 956           4 273
5      2010    67 288           - 7,0                 3 706           3 992
6      2011    65 024           - 3,4                 3 647           3 963
7      2012    60 437           - 6,9                 3 386           3 653
8      2013    56 812           - 6,0                 3 020           3 268
9      2014    58 191           + 2,4                 3 146           3 384
10     2015    56 603           - 2,7                 3 160           3 461
11     2016    57 522           + 1,6                   ---           3 477
12     2017    58 613           + 1,9                   ---           3 448
13     2018    55 766           - 4,9                   ---           3 248
14  2019[5]    56 016           + 0,4                   ---           3 244
15  2020[5]    45 121          - 19,4                   ---           2 541

                   Blessés hospitalisés Blessés légers Total blessés  \
   Évolution(en %) Blessés hospitalisés Blessés légers        Nombre
0            - 4,9               39 811         68 265       108 076
1              -15               40 662         61 463       102 125
2            - 2,0               38 615         64 586       103 201
3            - 7,5               36 179         58 833        93 798
4            - 0,1               34 506         57 611        90 934
5            - 6,6               30 393         54 068        84 461
6            - 0,7               29 679         51 572        81 251
7            - 8,0               27 142         48 709        75 851
8           - 10,5               25 966         44 641        70 607
9            + 3,5               26 635         46 413        73 048
10           + 2,3               26 595         44 207        70 802
11           + 0,5               27 187         45 458        72 645
12           - 0,8               27 732         45 652        73 384
13           - 5,8                  ---            ---        69 887
14           - 0,1                  ---            ---        70 490
15          - 21,7                  ---            ---        55 836

                                            Gravité Kilomètresparcourus[4]
   Évolution(en %) Tués pour100 accidents corporels Kilomètresparcourus[4]
0            - 0,3                              629          554 milliards
1            - 5,5                              586          555 milliards
2            + 1,1                              568          561 milliards
3            - 9,1                              574          552 milliards
4            - 3,1                              591          552 milliards
5           - 10,1                              593          560 milliards
6            - 3,8                              609          565 milliards
7            - 6,6                              604          563 milliards
8            - 6,9                              575          567 milliards
9            + 3,5                              582          572 milliards
10           - 3,1                              611          584 milliards
11           + 2,6                              604          599 milliards
12           + 1,0                              588          606 milliards
13           - 4,8                              582          606 milliards
14           + 0,9                              579                    NaN
15          - 20,8                              563                    NaN

In [196]:
df3 = df3.drop(df3.columns[[11]], axis=1)
df3.head(100)

   Année[2] Accidents                                       Tués à 30 jours  \
   Année[2]    Nombre Évolution(en %) dontaccidents mortels          Nombre
0      2005    84 525           - 1,0                 4 857           5 318
1      2006    80 309           - 5,0                 4 326           4 709
2      2007    81 272           + 1,2                 4 265           4 620
3      2008    74 487           - 8,3                 3 933           4 275
4      2009    72 315           - 2,9                 3 956           4 273
5      2010    67 288           - 7,0                 3 706           3 992
6      2011    65 024           - 3,4                 3 647           3 963
7      2012    60 437           - 6,9                 3 386           3 653
8      2013    56 812           - 6,0                 3 020           3 268
9      2014    58 191           + 2,4                 3 146           3 384
10     2015    56 603           - 2,7                 3 160           3 461
11     2016    57 522           + 1,6                   ---           3 477
12     2017    58 613           + 1,9                   ---           3 448
13     2018    55 766           - 4,9                   ---           3 248
14  2019[5]    56 016           + 0,4                   ---           3 244
15  2020[5]    45 121          - 19,4                   ---           2 541

                   Blessés hospitalisés Blessés légers Total blessés  \
   Évolution(en %) Blessés hospitalisés Blessés légers        Nombre
0            - 4,9               39 811         68 265       108 076
1              -15               40 662         61 463       102 125
2            - 2,0               38 615         64 586       103 201
3            - 7,5               36 179         58 833        93 798
4            - 0,1               34 506         57 611        90 934
5            - 6,6               30 393         54 068        84 461
6            - 0,7               29 679         51 572        81 251
7            - 8,0               27 142         48 709        75 851
8           - 10,5               25 966         44 641        70 607
9            + 3,5               26 635         46 413        73 048
10           + 2,3               26 595         44 207        70 802
11           + 0,5               27 187         45 458        72 645
12           - 0,8               27 732         45 652        73 384
13           - 5,8                  ---            ---        69 887
14           - 0,1                  ---            ---        70 490
15          - 21,7                  ---            ---        55 836

                                            Gravité
   Évolution(en %) Tués pour100 accidents corporels
0            - 0,3                              629
1            - 5,5                              586
2            + 1,1                              568
3            - 9,1                              574
4            - 3,1                              591
5           - 10,1                              593
6            - 3,8                              609
7            - 6,6                              604
8            - 6,9                              575
9            + 3,5                              582
10           - 3,1                              611
11           + 2,6                              604
12           + 1,0                              588
13           - 4,8                              582
14           + 0,9                              579
15          - 20,8                              563

In [197]:
print (df3.shape[1])

11

In [198]:
print (range(df3.shape[1]))

range(0, 11)

In [199]:
df3.columns = range(df3.shape[1])
print(df3)

          0       1       2      3      4       5       6       7        8  \
0      2005  84 525   - 1,0  4 857  5 318   - 4,9  39 811  68 265  108 076
1      2006  80 309   - 5,0  4 326  4 709     -15  40 662  61 463  102 125
2      2007  81 272   + 1,2  4 265  4 620   - 2,0  38 615  64 586  103 201
3      2008  74 487   - 8,3  3 933  4 275   - 7,5  36 179  58 833   93 798
4      2009  72 315   - 2,9  3 956  4 273   - 0,1  34 506  57 611   90 934
5      2010  67 288   - 7,0  3 706  3 992   - 6,6  30 393  54 068   84 461
6      2011  65 024   - 3,4  3 647  3 963   - 0,7  29 679  51 572   81 251
7      2012  60 437   - 6,9  3 386  3 653   - 8,0  27 142  48 709   75 851
8      2013  56 812   - 6,0  3 020  3 268  - 10,5  25 966  44 641   70 607
9      2014  58 191   + 2,4  3 146  3 384   + 3,5  26 635  46 413   73 048
10     2015  56 603   - 2,7  3 160  3 461   + 2,3  26 595  44 207   70 802
11     2016  57 522   + 1,6    ---  3 477   + 0,5  27 187  45 458   72 645
12     2017  58 613   + 1,9    ---  3 448   - 0,8  27 732  45 652   73 384
13     2018  55 766   - 4,9    ---  3 248   - 5,8     ---     ---   69 887
14  2019[5]  56 016   + 0,4    ---  3 244   - 0,1     ---     ---   70 490
15  2020[5]  45 121  - 19,4    ---  2 541  - 21,7     ---     ---   55 836

         9   10
0    - 0,3  629
1    - 5,5  586
2    + 1,1  568
3    - 9,1  574
4    - 3,1  591
5   - 10,1  593
6    - 3,8  609
7    - 6,6  604
8    - 6,9  575
9    + 3,5  582
10   - 3,1  611
11   + 2,6  604
12   + 1,0  588
13   - 4,8  582
14   + 0,9  579
15  - 20,8  563

In [200]:
df3.head(50)

,0,1,2,3,4,5,6,7,8,9,10
0,2005,84 525,"- 1,0",4 857,5 318,"- 4,9",39 811,68 265,108 076,"- 0,3",629
1,2006,80 309,"- 5,0",4 326,4 709,-15,40 662,61 463,102 125,"- 5,5",586
2,2007,81 272,"+ 1,2",4 265,4 620,"- 2,0",38 615,64 586,103 201,"+ 1,1",568
3,2008,74 487,"- 8,3",3 933,4 275,"- 7,5",36 179,58 833,93 798,"- 9,1",574
4,2009,72 315,"- 2,9",3 956,4 273,"- 0,1",34 506,57 611,90 934,"- 3,1",591
5,2010,67 288,"- 7,0",3 706,3 992,"- 6,6",30 393,54 068,84 461,"- 10,1",593
6,2011,65 024,"- 3,4",3 647,3 963,"- 0,7",29 679,51 572,81 251,"- 3,8",609
7,2012,60 437,"- 6,9",3 386,3 653,"- 8,0",27 142,48 709,75 851,"- 6,6",604
8,2013,56 812,"- 6,0",3 020,3 268,"- 10,5",25 966,44 641,70 607,"- 6,9",575
9,2014,58 191,"+ 2,4",3 146,3 384,"+ 3,5",26 635,46 413,73 048,"+ 3,5",582
10,2015,56 603,"- 2,7",3 160,3 461,"+ 2,3",26 595,44 207,70 802,"- 3,1",611
11,2016,57 522,"+ 1,6",---,3 477,"+ 0,5",27 187,45 458,72 645,"+ 2,6",604
12,2017,58 613,"+ 1,9",---,3 448,"- 0,8",27 732,45 652,73 384,"+ 1,0",588
13,2018,55 766,"- 4,9",---,3 248,"- 5,8",---,---,69 887,"- 4,8",582
14,2019[5],56 016,"+ 0,4",---,3 244,"- 0,1",---,---,70 490,"+ 0,9",579
15,2020[5],45 121,"- 19,4",---,2 541,"- 21,7",---,---,55 836,"- 20,8",563

In [201]:
df3.columns = ['Année','Nombre des accidents','évolution en %','dont accidents mortels','Nombre','Évolution en %','Blessés graves','Blessés légers','Nombre des blessés','Évolution des blessés en %','Tués pour 100 accidents corporels']
#col_index="Année"
df3=df3.set_index('Année')
df3.head()

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels
Année,,,,,,,,,,
2005,84 525,"- 1,0",4 857,5 318,"- 4,9",39 811,68 265,108 076,"- 0,3",629
2006,80 309,"- 5,0",4 326,4 709,-15,40 662,61 463,102 125,"- 5,5",586
2007,81 272,"+ 1,2",4 265,4 620,"- 2,0",38 615,64 586,103 201,"+ 1,1",568
2008,74 487,"- 8,3",3 933,4 275,"- 7,5",36 179,58 833,93 798,"- 9,1",574
2009,72 315,"- 2,9",3 956,4 273,"- 0,1",34 506,57 611,90 934,"- 3,1",591

In [202]:
df3.rename(index = {'2019[5]': '2019','2020[5]':'2020' }, inplace = True)
df3.head(100)

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels
Année,,,,,,,,,,
2005,84 525,"- 1,0",4 857,5 318,"- 4,9",39 811,68 265,108 076,"- 0,3",629
2006,80 309,"- 5,0",4 326,4 709,-15,40 662,61 463,102 125,"- 5,5",586
2007,81 272,"+ 1,2",4 265,4 620,"- 2,0",38 615,64 586,103 201,"+ 1,1",568
2008,74 487,"- 8,3",3 933,4 275,"- 7,5",36 179,58 833,93 798,"- 9,1",574
2009,72 315,"- 2,9",3 956,4 273,"- 0,1",34 506,57 611,90 934,"- 3,1",591
2010,67 288,"- 7,0",3 706,3 992,"- 6,6",30 393,54 068,84 461,"- 10,1",593
2011,65 024,"- 3,4",3 647,3 963,"- 0,7",29 679,51 572,81 251,"- 3,8",609
2012,60 437,"- 6,9",3 386,3 653,"- 8,0",27 142,48 709,75 851,"- 6,6",604
2013,56 812,"- 6,0",3 020,3 268,"- 10,5",25 966,44 641,70 607,"- 6,9",575
2014,58 191,"+ 2,4",3 146,3 384,"+ 3,5",26 635,46 413,73 048,"+ 3,5",582
2015,56 603,"- 2,7",3 160,3 461,"+ 2,3",26 595,44 207,70 802,"- 3,1",611
2016,57 522,"+ 1,6",---,3 477,"+ 0,5",27 187,45 458,72 645,"+ 2,6",604
2017,58 613,"+ 1,9",---,3 448,"- 0,8",27 732,45 652,73 384,"+ 1,0",588
2018,55 766,"- 4,9",---,3 248,"- 5,8",---,---,69 887,"- 4,8",582
2019,56 016,"+ 0,4",---,3 244,"- 0,1",---,---,70 490,"+ 0,9",579
2020,45 121,"- 19,4",---,2 541,"- 21,7",---,---,55 836,"- 20,8",563

In [203]:
frames = (df1, df2, df3)

data = pd.concat(frames)
data.head(100)

,Nombre des accidents,évolution en %,dont accidents mortels,Nombre,Évolution en %,Blessés graves,Blessés légers,Nombre des blessés,Évolution des blessés en %,Tués pour 100 accidents corporels
Année,,,,,,,,,,
1955,140 232,"+ 12,2",7 554,8 058,"+ 6,9",56 798,119 531,176 329,"+ 14,2",574
1956,141 737,"+ 1,1",7 740,8 283,"+ 2,8",54 255,126 359,180 614,"+ 2,4",584
1957,143 796,"+ 1,4",8 055,8 517,"+ 2,8",67 650,116 100,183 750,"+ 1,7",592
1958,134 713,"- 6,3",7 520,8 126,"- 4,6",64 782,111 248,176 030,"- 4,2",603
1959,137 273,"+ 1,9",7 847,8 409,"+ 2,8",65 154,113 639,178 793,"+ 1,6",613
...,...,...,...,...,...,...,...,...,...,...
2016,57 522,"+ 1,6",---,3 477,"+ 0,5",27 187,45 458,72 645,"+ 2,6",604
2017,58 613,"+ 1,9",---,3 448,"- 0,8",27 732,45 652,73 384,"+ 1,0",588
2018,55 766,"- 4,9",---,3 248,"- 5,8",---,---,69 887,"- 4,8",582
2019,56 016,"+ 0,4",---,3 244,"- 0,1",---,---,70 490,"+ 0,9",579
2020,45 121,"- 19,4",---,2 541,"- 21,7",---,---,55 836,"- 20,8",563